{% extends 'base.html'%}
{% load static %}
{% block title %}
  <title>AboutMe</title>
{% endblock %}
{% block content %}
  <h1>{{about_me.my_name}}</h1>
  <p>{{about_me.description|safe}}</p>
  <div class="my_image">
    {%if about_me.image %}
      <img src="{{ about_me.image.url }}" alt="About me image">
    {% endif %}
  </div>
  <section class="e_info">
    {% for exp in experience%}
      <div class="experience">
        <p>{{ exp.start_year}} - {{ exp.end_year }}</p>
        <h2>{{ exp.position }}</h2>
        <p>{{ exp.company}}
      </div>
    {% endfor%}
  </section>
  <section class="e_info">
    {% for edu in education %}
      <div class="education">
        <p>{{ edu.start_year}} - {{ edu.end_year }}</p>
        <h2>{{ edu.degree }}</h2>
        <p>{{ edu.university}}
      </div>
    {% endfor%}
  </section>

{% endblock %}