{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Credentials</title>
{% endblock %}

{% block content %}
  <!-- Credentials -->
  <section class="credential-area">
    <div class="container">
        <div class="gx-row d-flex">
            <div class="credential-sidebar-wrap" data-aos="zoom-in">
                <div class="credential-sidebar text-center">
                    <div class="shadow-box">
                        <img src="{% static '/images/bg1.png'%}" alt="BG" class="bg-img">
                        <div class="img-box">
                            {% if about_me.image %}
                                <img id="credential_img" src="{{about_me.image.url}}"  alt="About Me">
                            {% endif %}
                        </div>
                        <h2>{{about_me.my_name}}</h2>
                        <p>{{about_me.user}}</p>

                        <ul class="social-links d-flex justify-content-center">
                            {% if social_media %}
                                {% for platform, link in social_media.items %}
                                    <li><a href="{{ link }}"><i class="iconoir-{{ platform }}"></i></a></li>
                                {% endfor %}
                            {% else %}
                                <li><p>No social media links available</p></li>
                            {% endif %}
                        </ul>

                        <a href="contact.html" class="theme-btn">Contact Me</a>
                    </div>
                </div>
            </div>

            <div class="credential-content flex-1">
                <div class="credential-about" data-aos="zoom-in">
                    <h2>About Me</h2>
                    <p>{% if about_me %}{{about_me.description|safe}}{% else %}No about me info available {% endif %}</p>
                    
                </div>

                <div class="credential-edc-exp credential-experience">
                    <h2 data-aos="fade-up">Experience</h2>
                    {% for exp in experience %}
                        <div class="credential-edc-exp-item" data-aos="zoom-in">
                            <h4>{{exp.start_year}} - {{exp.end_year}}</h4>
                            <h3>{{exp.position}}</h3>
                            <h5>{{exp.company}}</h5>
                            <p>{{exp.description|safe}}</p>
                        </div>
                    {% empty %}
                        <p>No experience available</p>
                    {% endfor %}
                </div>

                <div class="credential-edc-exp credential-education">
                    <h2 data-aos="fade-up">Education</h2>
                    {% for edu in education %}
                        <div class="credential-edc-exp-item" data-aos="zoom-in">
                            <h4>{{edu.start_year}} - {{edu.end_year}}</h4>
                            <h3>{{edu.degree}}</h3>
                            <h5>{{edu.university}}</h5>
                            <p>{{edu.description|safe}}</p>
                        </div>
                    {% empty %}
                        <p>No education available</p>
                    {% endfor %}
                </div>

                <div class="skills-wrap">
                    <h2 data-aos="fade-up">Skills</h2>
                    <div class="d-grid skill-items gap-24 flex-wrap">
                        {% for skill in skills %}
                            <div class="skill-item" data-aos="zoom-in">                            
                                <h3 class="name">{{skill.name}}</h3>
                            </div>
                        {% empty %}
                            <p>No skills available</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}